.login-form-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    /* background-color: #1e1e1e; */
    border-radius: 20px;
    color: white;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}

.login-title {
    font-size: 36px;
    margin-bottom: 10px;
    color: white;
    /* background-color: blue; */
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 0.9rem;
}

.register-text {
    margin-bottom: 20px;
    font-size: 0.9em;
}

.register-link {
    color: #add8e6;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 15px 0;
}

label {
    font-size: 0.9em;
    color: #ccc;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2e2e2e;
    color: white;
    font-size: 1em;
}

.login-input{
    background-color: #D3D3D3;
    padding: 15px;
}

input:focus {
    outline: none;
    background-color: #3e3e3e;
}

.login-button {
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    background-color: #fffdd3;
    color: black;
    cursor: pointer;
    font-family: "Inter", serif;
}

.login-button:hover {
    background-color: #cdcaa9;
}
