.profile-form-container {
    padding: 1rem;
    font-family: Arial, sans-serif;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #333;
    padding: 1rem;
    border-radius: 10px;
}

.read-only-text {
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.profile-image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
}

.name-inputs {
    display: flex;
    gap: 0.5rem;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
}

.form-label {
    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-right: 1rem;
    width: 40%;
    text-align: left;
}

.rounded-input {
    padding: 0.5rem;
    border-radius: 30px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    font-size: 1rem;
    width: 50%;
    text-align: left;
    color: black;
    outline: none;
}

.rounded-input:focus {
    background-color: #f5f5f5;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.btn {
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition:
        background-color 0.3s,
        transform 0.2s;
    text-align: center;
}
.btn-edit {
    background-color: #020202;
    color: white;
}

.btn-save {
    background-color: #020202;
    color: white;
}

.btn-cancel {
    background-color: #f5eab6;
    color: black;
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.password-inputs {
    display: flex;
    gap: 0.5rem;
    width: 100%;
}
