.home-button {
    color: white;
    font-size: medium;
    text-decoration: none;
}

.home-button:hover {
    text-decoration: underline;
}

.profile-form-wrapper {
    position: relative;
    background: #323333;
    padding: 2rem;
    margin: 7rem auto;
    border-radius: 30px;
    font-family: "JetBrains Mono", monospace;
    top: 10px;
    height: 680px;
    width: 500px;
}

.form-footer {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
}
