.page{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: grey;
}

.stuff{
    /* background-color: darkgreen; */
    width: 100%;
    height: auto;
    padding-top: 90px;
}

.flex-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: blue; */
}