html, body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: grey;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}