
.content{
    font-family: "JetBrains Mono", monospace;
    font-size: 1.5em;
    min-width: 480px;
    width: 600px;
    height: 100%;
    background-color: #FFFDD3;
    padding: 50px;
    color: black;
    border-radius: 30px;

    /*display content*/
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.phrase{
    font-size: 64px;
}

.message{
    font-size: 24px;
}

.btn-container{
    width: 400px;
    display:flex;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-size: 30px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    height: 100px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-container:hover{
    background-color: #333;
}