
.content{
    font-family: "JetBrains Mono", monospace;
    font-size: 1.5em;
    min-width: 480px;
    width: 600px;
    height: 100%;
    background-color: #FFFDD3;
    padding: 50px;
    color: black;
    border-radius: 30px;
}

.phrase{
    font-size: 64px;
}

.message{
    font-size: 24px;
}

.btn-container{
    display:flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
}