.calendar{
    text-align: center;
    width: 100vw;
    height: 100%;
    /* background-color: blue; */
}

.calendar-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* border: 2px solid black; */
    margin: 15px;
}

.calendar-title{
    font-size: 2em;
    margin: 20px;
}

.day-of-week{
    border: 2px solid black;
    margin: -1px;
    margin-top: -3px;
}

.calendar-cell{
    position: relative;
    font-size: 1.1em;
    text-align: left;
    padding: 7px;
    border: 2px solid black;
    height: 120px;
    margin: -1px;
    cursor: pointer;
}

.left-arrow, .right-arrow{
    cursor: pointer;
}

.calendar-cell {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border: 1px solid 'black';
}
  
.calendar-cell:hover {
    background-color: #f0f0f0;
    border:'white';
}
  
.calendar-cell.selected {
    background-color: gray;
    color: white;
    font-weight: bold;

}


.has-event {
    background-color: #f1f1f1; /* Light color to indicate there are events */
}

.event-dot {
    position: absolute; 
    width: 8px;
    height: 8px;
    background-color: Black;
    border-radius: 50%;
    bottom: 5px; 
  }